{% extends "_layout.html" %}
{% set metatitle = entry.title %}
{% set metadescription = entry.description %}
{% set canonicalUrl = entry.url %}

{% block postHead %}
    <link rel="index" href="{{ siteUrl }}/projects">
{% endblock %}

{% block content %}
    <article>
        <h1>
            {{ entry.title }}
            <small>Built in <time datetime="{{ entry.date_created.strftime('%F') }}">{{ entry.date_created.strftime('%Y') }}</time></small>
        </h1>
        {% if entry.featured_image|default %}
            {% image entry.featured_image %}
        {% endif %}
        {{ entry.body|render|safe }}
    </article>
{% endblock %}