COMPOSE_PROJECT_NAME=nicolasbouliane

# The domain and email used to generate SSL certificates
# Leave empty when running on localhost
SSL_DOMAIN=nicolasbouliane.com
SSL_EMAIL=contact@nicolasbouliane.com
