{% extends "_layout.html" %}
{% set metatitle = entry.title %}
{% set metadescription = entry.description %}
{% set canonicalUrl = entry.url %}

{% block postHead %}
    <link rel="index" href="{{ site_url }}/projects">
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>{{ entry.title }}</h1>
            <small>Built in <time datetime="{{ entry.date_created.strftime('%F') }}">{{ entry.date_created.strftime('%Y') }}</time></small>
        </header>
        {% if entry.featured_image|default %}
            {% image entry.featured_image %}
        {% endif %}
        {{ entry.body|render|safe }}
    </article>
{% endblock %}