<nav aria-label="Table of contents">
    <h2>Table of contents</h2>
    <ol>
        {% for heading in entry.table_of_contents %}
            <li class="collapsed">
                <a href="#{{ heading.id }}">{{ heading.name }}</a>
                {% if heading.children %}
                    <a href="#" aria-label="Expand sublist" class="expand"></a>
                    <ol>
                        {% for child in heading.children %}
                            <li><a href="#{{ child.id }}">{{ child.name }}</a></li>
                        {% endfor %}
                    </ol>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
</nav>