{% extends "_layout.html" %}
{% set metatitle = "Blog" %}
{% set metadescription = "Posts by Nicolas Bouliane" %}
{% set canonicalUrl = "/blog" %}

{% block content %}
    <header>
        <h1>Blog</h1>
    </header>
    <h2>Highlights</h2>
    <ul class="entry-list posts">
        {% for entry in get_entries('blog', filter_by=is_golden, sort_by='date_created', reverse=True) %}
            <li>
                <time datetime="{{ entry.date_created.strftime('%F') }}">{{ entry.date_created.strftime('%Y') }}</time>
                <h3><a rel="bookmark" href="{{ entry.url }}">{{ entry.title }}</a></h3>
                <p>{{ entry.description }}</p>
            </li>
        {% endfor %}
    </ul>
    <h2>Everything else</h2>
    <ul class="entry-list posts">
        {% for entry in get_entries('blog', filter_by=is_not_golden, sort_by='date_created', reverse=True) %}
            <li>
                <time datetime="{{ entry.date_created.strftime('%F') }}">{{ entry.date_created.strftime('%-b %Y') }}</time>
                <h3><a rel="bookmark" href="{{ entry.url }}">{{ entry.title }}</a></h3>
                <p>{{ entry.description }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
