{% extends "_layout.html" %}
{% set metadescription = "I'm a former software engineer in big, beautiful Berlin" %}

{% block content %}
    <header>
        <h1>Nicolas Bouliane</h1>
        <small>[nee · ko · lah &ndash; boo · lee · ann]</small>
    </header>
    {{ entry.body }}
{% endblock %}
