{% extends "_layout.html" %}
{% set metadescription = "I'm a former software engineer in big, beautiful Berlin" %}

{% block content %}
    <h1>Nicolas Bouliane</h1>
    <small>[nee · ko · lah &ndash; boo · lee · ann]</small>
    {{ entry.body }}
{% endblock %}
