{% extends "_layout.html" %}
{% set metatitle = "Notes" %}
{% set metadescription = "Notes by Nicolas Bouliane" %}
{% set canonicalUrl = "/blog" %}

{% block content %}
    <header>
        <h1>Notes</h1>
        <small>Things that might appear in my WhatsApp stories.</small>
    </header>
    <ul class="entry-list notes">
        {% for entry in get_entries('notes', sort_by='date_created', reverse=True) %}
            <li>
                <time datetime="{{ entry.date_created.strftime('%F') }}">{{ entry.date_created.strftime('%-b %Y') }}</time>
                <div>
                    {{ entry.body|render|safe }}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
